body {
    max-width: 100%;
    background-color: rgb(73, 72, 72);
    /* overflow-y: hidden;
    overflow-x: hidden; */
}

/*start*/
.startbg{
    background: url('images/start.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.center{
    position: relative;
    top: 120px;
    left: 450px;
    width: 140px;
}

.bt{
    border: 1px solid black;
    background-color: aliceblue;
    border-radius: 5px;
    font-family: 'Games', sans-serif;
    margin-bottom: 25px;
}

/* backgrounds */

.bg1{
    background: url('images/p1.png');
    background-size: contain;
    background-repeat: no-repeat;
    height:500px;
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

/* divs */

.main{
    width: 100%;
    height: 100%;
    position: relative;
}

/* buttons */

.start{
    border-radius: 1px;
    position: absolute;
    height: 40px;
    width: 80px;
    top: 250px;
    left: 350px;
    border: 1px grey solid;
    background-color: white;
}

/* text boxes */

.text{
    border: black solid 1px;
    width: 150px;
    position: absolute;
    padding-left: 5px;
}

.text1{
    top: 110px;
    left: 520px;
}


/* images */

.door1{
    background-image: url('images/door1.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 718px;
    top: 136px;
    height: 300px;
    width: 50px;
}

.door2{
    background-image: url('images/door2.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
    top: 138px;
    height: 300px;
    width: 50px;
}

.clock{
    background-image: url('images/clock.gif');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 160px;
    top: 70px;
    height: 100px;
    width: 100px;
}

.mc{
    background-image: url('images/mc.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 140px;
    position: absolute;
}

.mc1{
    left: 500px;
    top: 130px;
}

.dustbin{
    background-image: url('images/dustbin.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 60px;
    position: absolute;
    left: 610px;
    top: 230px;
}


/* inventory */
.inv{
    border: black solid 1px;
    width: 515px;
    height: 65px;
    position: relative;
    margin: 0 auto;
    padding: 5px;
    top: 420px;
    left: 0px;
    background-color:rgb(138, 137, 137);
}
.inv-box{
    border: black solid 1px;
    width: 50px;
    margin: 3px;
    background-color: rgb(180, 180, 180);
}

.keyinv{
    background-image: url('images/key.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.paperinv{
    background-image: url('images/paper.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
}

.h{
    background-color: grey;
}


/* Panel 2 */

/* bg */
.bg2{
    background: url('images/p2.png');
    background-size: contain;
    background-repeat: no-repeat;
    height:500px;
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.mc2{
    top: 120px;
    left: 300px;
}

.left{
    background-image: url('images/left.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 50px;
    width: 80px;
}

.left1{
    left: 10px;
    top: 200px;
}

.paint{
    background-image: url('images/paint.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 90px;
    top: 100px;
    height: 100px;
    width: 100px;
}

.behind{
    background-image: url('images/behind.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 90px;
    top: 91px;
    height: 118px;
    width: 118px;
}

.paper{
    background-image: url('images/paper.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 125px;
    top: 160px;
    height: 20px;
    width: 30px;
}

.bigpaper{
    background-image: url('images/bigpaper.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 70px;
    left: 220px;
    height: 200px;
    width: 300px;
}

/*panel 3*/

.bg3{
    background: url('images/p3.png');
    background-size: contain;
    background-repeat: no-repeat;
    height:500px;
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.left2{
    top: 200px;
    left: 10px;
}

.right{
    background-image: url('images/right.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 200px;
    right: 10px;
    height: 50px;
    width: 80px;
}

.mc3{
    top: 120px;
    left: 450px;
}

.nerd{
    background-image: url('images/nerd.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 140px;
    left: 140px;
    height: 250px;
    width: 100px;
}

.text4{
    top: 50px;
    left: 140px;
}

.form{
    position: absolute;
    top: 50px;
    left: 140px;
    width: fit-content;
}

.end{
    background:  url('images/end.gif');
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.endcard{
    background: white url('images/endcard.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}





/* Objects must have:-{
    background-image: url('images/xxx.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: _px;
    left: _px;
    height: _px;
    width: _px;
}

Backgrounds must have:-{
    background: white url('images/xxx.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}
*/